@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

body{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;

}

*{
    box-sizing: border-box;
    scroll-behavior: smooth;
    
}

ul{
    list-style: none;

}

a{
    text-decoration: none;

}

#main{
    width: 1440px;
    height: 2000px;
    position: relative;

}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 129px;
    z-index: 1;
    background-color: #FFFFFF;
}

.logo img{
    height: 45px;

}

nav ul{
    display: flex;
    
}

nav ul li a{
    height: 40px;
    line-height: 43px;
    margin: 3px;
    padding: 0px 22px;
    display: flex;
    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: 500;
    color: black;
    letter-spacing: 1px;

}

.donate1{
    color: #00CCCA;
    font-weight: 500;
    font-size: 1rem;
    border-radius: 7px;
    border-bottom: 2px solid #00CCCA;

}

nav ul li a:hover{
    background-color: white;
    color: #00CCCA;
    box-shadow: 5px 10px 30px rgba(64, 198, 196, 0.3);
    transition: all ease 0.3s;
}

nav .menu-btn,
.menu-icon{
    display: none;

}

a.donate1{
    color: white;
    padding: 10px;
    transition: all 0.2s;
    background: #00CCCA;
}


@media(max-width: 900px){
    .menu-icon{
        display: block;
    }
    nav{
        justify-content: space-between;
        height: 65px;
        padding: 0px 30px;

    }

    .logo img{
        height: 35px;

    }

    .menu{
        display: none;
        position: absolute;
        top: 65px;
        left: 0px;
        background-color: #FFFFFF;
        border-bottom: 4px solid #1db096;
        width: 100%;
        padding: 0px;
        margin: 0px;

    }

    .menu li{
        width: 100%;
    }

    nav .menu li a{
        width: 100%;
        height: 40px;
        justify-content: center;
        align-items: center;
        margin: 0px;
        padding: 2px;
        border: 1px solid rgba(38, 38, 38, 0, 0.38);
    }

    nav .menu-icon{
        cursor: pointer;
        float: right;
        padding: 28px 20px;
        position: relative;
        user-select: none;

    }

    nav .menu-icon .nav-icon{
        background-color: #333333;
        display: block;
        height: 2px;
        position: relative;
        transition: background 0.2s ease-out;
        width: 18px;

    }

    nav .menu-icon .nav-icon:before,
    nav .menu-icon .nav-icon:after{
        background: #333;
        content: "";
        display: block;
        height: 100%;
        position: absolute;
        transition: all ease-out 0.2s;
        width: 100%;

    }

    nav .menu-icon .nav-icon:before{
        top: 5px;

    }

    nav .menu-icon .nav-icon:after{
        top: -5px;

    }

    nav .menu-btn:checked ~ .menu-icon .nav-icon{
        background: transparent;

    }

    nav .menu-btn:checked ~ .menu-icon .nav-icon:before{
        transform: rotate(-45deg);
        top: 0;

    }

    nav .menu-btn:checked ~ .menu-icon .nav-icon:aafter{
        transform: rotate(45deg);
        top: 0;

    }

    nav .menu-btn:checked ~ .menu{
        display: block;

    }



}